<div class="article-sidebar sidebar col-md-3 hide-ios">
  <div class="card">
    <div class="card-body">
      <div class="alert alert-info ttf-link"><a href="<%=Setting.edu_base_url%>">TesterHome 学堂 </a><i class="fa fa-school"></i></div>
      <div class="alert alert-info ttf-link"><%= link_to '讲师合作', teacher_cooperate_path %> <i class="fa fa-phone"></i> </div>
      <div class="alert alert-info ttf-link"><%= link_to '企业实训', business_cooperate_path %> <i class="fa fa-phone"></i> </div>
      <hr />
      <div class="alert">
      <% if current_user && can_manage_training_courses?(current_user) %>
        <%= link_to ' 学堂管理', manage_training_courses_path, class: "fa fa-pencil"%></i>
      <% end %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">推荐课程 <i class="fa fa-bolt"></i></div>
    <div class="card-body">
      <%= render partial: "suggested_course", collection: @suggested_courses, locals: {suggest: false, show_nu: true, show_avatar: false} %>
    </div>
  </div>
</div>
